{% extends "base_generic.html" %}
<!--- Authors: Aurélien NICOLLE - Ilan SOUSSAN - Antoine DARRAS
    Date: 26/10/2021 !--->
{% block content %}
  <h1 style="font-size: 32px; margin: 20px">Welcome to our conversion of CSV into TTL</h1>
<div class="all" style="width: 80%; margin-left: 2%">
    <form action="." method="post">
       {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Validate" class="button">
    </form>

    <p style="margin-top: 32px"><a href="{% url 'download_CSV' %}">The CSV file uploaded</a></p>
</div>

{% endblock %}